<!DOCTYPE html>
<html style="height: 100%;margin: 0px;">
	<head>
		<meta charset="UTF-8">
		<title>文件分享页</title>
		<link href="../../themes/imancloudstyle.css" rel="stylesheet" />
		<link href="../../dist/css/lanai-ui.min.css" rel="stylesheet"/>
	</head>
	<body style="">
	<nav class="main" style="width: 100%;height: 50px;margin-top: 0px;border-radius: 0px;" ></nav>
	<div class="main" >
		<div style="width: 100%;height: 50px;background: #6a7d8a;color: #F2F2F2;font-family: 微软雅黑;padding-top: 10px;margin-top: 20px">
			<div style="margin-left: 30px;">
				<span><img src="dist/img/sl.jpg" class="headImg" alt="User Image"></span><span><b>XXXX</b></span><span> 给您分享了文件</span>
			</div>
		</div>
		<form th:action="@{/login}" method="post">
			<div class="form-group has-feedback" hidden="hidden">
				<input type="userName" name="userName" class="form-control" placeholder="邮箱/用户名/电话">
				<span class="fa fa-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback" style="width: 100%;padding-left: 25%;padding-right: 5%;margin-top: 50px">
				<input type="userName" name="password" class="form-control" style="width: 50%;float: left;margin-right: 10px" placeholder="请输入提取码">
				<button type="submit" class="btn btn-primary btn-block btn-flat" style="width: 20%;float: left">提 取</button>
			</div>

		</form>

	</div>
	<div id="footer" style="margin-bottom: 0px">Powered by iManCloud</div>
	</body>
</html>
