<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>开始</title>
    <link href="dist/css/lanai-ui.min.css" rel="stylesheet" />
</head>
<body>
<section class="content no-padding">
    <div class="box box-widget">
        <div class="box-header">
            <h3 class="box-title"><blockquote class="layui-elem-quote">准备工作</blockquote></h3>
        </div>
        <div class="box-body">
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                        开始<br />
                                        <small>配置基础信息</small>
                                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                        高级设置<br />
                                        <small>自定义系统详细参数</small>
                                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                        完成<br />
                                        <small>准备好开始了吗？</small>
                                    </span>
                        </a>
                    </li>
                </ul>
                <div id="step-1">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label id="webNamelab" class="control-label col-md-3 col-sm-3 col-xs-12" for="webName">
                                站点名称 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="webName" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  id="adminIdlab" class="control-label col-md-3 col-sm-3 col-xs-12" for="adminId">
                                管理员账号 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="adminId" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="adminPwdlab"  class="control-label col-md-3 col-sm-3 col-xs-12" for="adminPwd">
                                密码 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="adminPwd" name="last-name" required="required" class="form-control col-md-7 col-xs-12" style="position: relative;">
                                <i class="fa fa-eye" id="togglePassword" style="position: absolute;
                                                                                top: 10px;
                                                                                left: -2px;cursor:pointer; "></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="adminNamelab"  class="control-label col-md-3 col-sm-3 col-xs-12" for="adminName">
                                昵称 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="adminName" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="step-2">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label id="filePathlab" class="control-label col-md-3 col-sm-3 col-xs-12" for="webName">
                                文件路径 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" value="./" id="filePath" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="webUrlLab" class="control-label col-md-3 col-sm-3 col-xs-12" for="webName">
                                站点地址 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="webUrl" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="step-3">
                    <form class="form-horizontal form-label-left">
                        <label id="allInfo" class="control-label col-md-2 col-sm-2 col-xs-12" for="webName">

                        </label>
                        <div class=" col-md-8 col-sm-8 col-xs-12">
                            <section class="form-control content no-padding col-md-6 col-xs-12 swMain" style="border:0px solid #ccc">
                                <div class="box box-widget no-shadow">
                                    <div class="box-body">
                                        <ul class="timeline">
                                            <!-- timeline time label -->
                                            <li class="time-label">
	                        <span class="bg-red">
	                            基础信息
	                        </span>
                                            </li>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <li>
                                                <i class="fa fa-gear bg-blue"></i>
                                                <div class="timeline-item no-shadow">
                                                    <h3 class="timeline-header"><a>站点名称</a></h3>
                                                    <div id="webNameCheck">
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- END timeline item -->
                                            <!-- timeline item -->
                                            <li>
                                                <i class="fa fa-gear bg-blue"></i>
                                                <div class="timeline-item no-shadow">
                                                    <h3 class="timeline-header"><a>管理员账号</a></h3>
                                                    <div id="adminIdCheck">
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- END timeline item -->
                                            <!-- timeline item -->
                                            <li>
                                                <i class="fa fa-gear bg-blue"></i>
                                                <div class="timeline-item no-shadow">
                                                    <h3 class="timeline-header"><a>密码</a></h3>
                                                    <div>
                                                        <input readonly="readonly"  type="password" id="adminPwdCheck" name="last-name" required="required" class="form-control col-md-7 col-xs-12" style="position: relative;">
                                                        <i class="fa fa-eye" id="togglePasswordCheck" style="position: absolute;
                                                                                top: 10px;
                                                                                left: -6px;cursor:pointer; "></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- END timeline item -->
                                            <!-- timeline item -->
                                            <li>
                                                <i class="fa fa-gear bg-blue"></i>
                                                <div class="timeline-item no-shadow">
                                                    <h3 class="timeline-header"><a>昵称</a></h3>
                                                    <div id="adminNameCheck">
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- END timeline item -->
                                            <!-- timeline time label -->
                                            <li class="time-label">
	                        <span class="bg-green">
	                            高级设置
	                        </span>
                                            </li>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <li>
                                                <i class="fa fa-gear bg-blue"></i>
                                                <div class="timeline-item no-shadow">
                                                    <h3 class="timeline-header"><a>文件路径</a> </h3>
                                                    <div class="timeline-body" id="filePathCheck">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <i class="fa fa-gear bg-blue"></i>
                                                <div class="timeline-item no-shadow">
                                                    <h3 class="timeline-header"><a>站点地址</a> </h3>
                                                    <div class="timeline-body" id="webUrlCheck">
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- END timeline item -->
                                            <!-- timeline item -->

                                            <!-- END timeline item -->
                                            <li>
                                                <i class="fa fa-server bg-gray"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <div onclick="sendConf()" class="btn btn-primary"  style="margin-top: 10px"><i class="fa fa-send "></i> 保存设置</div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</section>
<script src="../../dist/js/jquery.min.js"></script>
<script src="../../dist/plugins/smart-wizard/js/jquery.smartWizard_CN.js"></script>
<script src="dist/js/lanai-ui.min.js"></script>
<script src="script/layer/layer.js"></script>
<style type="text/css">
.errorClass{
    color: #B15151;
    text-decoration:underline;
}
.swMain
{
    height: 550px;
}
</style>
<script type="text/javascript">

    $(function () {
        $('#wizard').smartWizard();

        $('#wizard_verticle').smartWizard({
            transitionEffect: 'slide'
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        var url = window.location.href;
        var urls = url.split('start');
        url = "";
        for (var i=0;i<urls.length-1;i++){
            url+=urls[i];
            if (i<(urls.length-1)-1){
                url+='start';
            }
        }
        $('#webUrl').val(url);

    });
    $("#togglePassword").click(function () {
        var hClass= $("#togglePassword").hasClass("fa-eye");
        if(hClass==true){
            $("#togglePassword").removeClass("fa-eye");
            $("#togglePassword").addClass("fa-eye-slash");
            $("#adminPwd").attr("type", "text");
        }else if(hClass==false){
            $("#togglePassword").addClass("fa-eye");
            $("#togglePassword").removeClass("fa-eye-slash");
            $("#adminPwd").attr("type", "password");
        }})

    $("#togglePasswordCheck").click(function () {
        var hClass= $("#togglePasswordCheck").hasClass("fa-eye");
        if(hClass==true){
            $("#togglePasswordCheck").removeClass("fa-eye");
            $("#togglePasswordCheck").addClass("fa-eye-slash");
            $("#adminPwdCheck").attr("type", "text");
        }else if(hClass==false){
            $("#togglePasswordCheck").addClass("fa-eye");
            $("#togglePasswordCheck").removeClass("fa-eye-slash");
            $("#adminPwdCheck").attr("type", "password");
        }})

    function pageCheck($this,stepnum){
        if ($this.curStepIdx<stepnum){
            var flag = false;
            if (stepnum==1){
                if ($("#webName").val().length<=0) {
                    flag = true;
                    layer.msg("站点名称不能为空！");
                    $("#webNamelab").addClass('errorClass');
                }else {
                    $("#webNamelab").removeClass('errorClass');
                }
                if ($("#adminId").val().length<=0) {
                    flag = true;
                    layer.msg("管理员账号不能为空！");
                    $("#adminIdlab").addClass('errorClass');
                }else {
                    $("#adminIdlab").removeClass('errorClass');
                }
                if ($("#adminPwd").val().length<=0) {
                    flag = true;
                    layer.msg("密码不能为空！");
                    $("#adminPwdlab").addClass('errorClass');
                }else {
                    $("#adminPwdlab").removeClass('errorClass');
                }
                if ($("#adminName").val().length<=0) {
                    flag = true;
                    layer.msg("昵称不能为空！");
                    $("#adminNamelab").addClass('errorClass');
                }else {
                    $("#adminNamelab").removeClass('errorClass');
                }
                if (flag){
                    throw SyntaxError();
                }
            }else if(stepnum==2){
                if ($("#filePath").val().length<=0) {
                    flag = true;
                    layer.msg("文件路径不能为空！");
                    $("#filePathlab").addClass('errorClass');
                }else {
                    $("#filePathlab").removeClass('errorClass');
                }
                if ($("#webUrl").val().length<=0) {
                    flag = true;
                    layer.msg("站点地址不能为空！");
                    $("#webUrlLab").addClass('errorClass');
                }else if (!isURL($("#webUrl").val())) {
                    flag = true;
                    layer.msg("站点地址不合法！");
                    $("#webUrlLab").addClass('errorClass');
                }else {
                    $("#webUrlLab").removeClass('errorClass');
                }
                if (flag){
                    throw SyntaxError();
                }

                $("#webNameCheck").html($("#webName").val());
                $("#adminIdCheck").html($("#adminId").val());
                $("#adminPwdCheck").val($("#adminPwd").val());
                $("#adminNameCheck").html($("#adminName").val());
                $("#filePathCheck").html($("#filePath").val());
                $("#webUrlCheck").html($("#webUrl").val());
            }
        }

    }
    function isURL(URL) {// 验证url
        var str = URL,
        Expression = /http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/,
        objExp = new RegExp(Expression);
        if(objExp.test(str) == true) {
            return true
        } else {
            return false
        }
    }

    function sendConf() {

        var param={'webName':$("#webName").val(),'adminId':$("#adminId").val(),'adminPwd':$("#adminPwd").val(),'adminName':$("#adminName").val(),'filePath':$("#filePath").val(),'webUrl':$("#webUrl").val()};

        $.ajax( {
                type: "POST",
                contentType: "application/json",
                url:"/start",
                data: JSON.stringify(param),
                success:function(response) {
                    alert('保存成功');
                    location.href= $('#webUrl').val();
                },
                dataSrc:function(data)
                {
                    return data.data;
                }
            }
        );
    }
</script>
</body>
</html>