<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%;margin: 0px;">
	<head>
		<meta charset="UTF-8">
		<title>文件分享页</title>
		<link href="./themes/imancloudstyle.css" rel="stylesheet" />
		<link href="./dist/css/lanai-ui.min.css" rel="stylesheet"/>
	</head>
	<body style="">
	<nav class="main" style="width: 100%;height: 50px;margin-top: 0px;border-radius: 0px;" ></nav>
	<div class="main" style="display:none" id="checkFileCode">
		<div style="width: 100%;height: 50px;background: #6a7d8a;color: #F2F2F2;font-family: 微软雅黑;padding-top: 10px;margin-top: 20px">
			<div style="margin-left: 30px;">
				<span><img src="./dist/img/sl.jpg" class="headImg" alt="User Image"></span><span><b>XXXX</b></span><span> 给您分享了文件</span>
			</div>
		</div>
		<form th:action="@{/checkFileCode}" method="post" id="noUser" hidden="hidden">
			<div class="form-group has-feedback" hidden="hidden">
				<input type="userName" name="userName" class="form-control" placeholder="邮箱/用户名/电话" th:value="${fileCode}">
				<span class="fa fa-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback" style="width: 100%;padding-left: 25%;padding-right: 5%;margin-top: 50px">
				<input type="userName" name="password" class="form-control" style="width: 50%;float: left;margin-right: 10px" placeholder="请输入提取码">
				<button type="submit" class="btn btn-primary btn-block btn-flat" style="width: 20%;float: left">提 取</button>
			</div>

		</form>
		<div id="userReady" hidden="hidden">
			<div class="form-group has-feedback" hidden="hidden">
				<input type="userName" id="shareUrl" name="userName" class="form-control" placeholder="邮箱/用户名/电话" th:value="${fileCode}">
				<span class="fa fa-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback" style="width: 100%;padding-left: 25%;padding-right: 5%;margin-top: 50px">
				<input type="userName" id="fileCode" name="password" class="form-control" style="width: 50%;float: left;margin-right: 10px" placeholder="请输入提取码">
				<button type="submit" onclick="postFileCode()" class="btn btn-primary btn-block btn-flat" style="width: 20%;float: left">提 取</button>
			</div>
		</div>

	</div>
	<div class="main shareFileExplorer" id="fileExplorer" style="display:none">
		<div class="shareFile" style="width: 300px;font-size: 30px;display:none" id="file404" >
			<img src="./dist/img/file_404.png" style="width: 100%">
			<br>
			<p style="margin: 30px">分享的文件不存在</p>
		</div>
		<div class="shareFile" style="width: 300px;font-size: 10px;display:none" id="sharefile" >
			<img src="./dist/img/file.png" style="width: 50px">
			<span id="fileName" style="font-size: 20px"></span>
			<br>
			<button class="layui-btn layui-btn-primary layui-btn-sm" style="padding: 0px" >
				<a id="my_a" style="display:block;width: 100%;height: 100%;padding-right: 6px;padding-left: 6px;"
				   href="./sharedownload?isFolder=false&furl=111&fp=&fileName=CloudLink-windows.exe" download="CloudLink-windows.exe">
					<i class='fa fa-cloud-download' style="margin-right: 5px"></i>下载文件
				</a>
			</button>
		</div>
	</div>
	<div id="footer" style="margin-bottom: 0px">Powered by iManCloud</div>
	</body>
	<script src="./dist/js/jquery.min.js"></script>
	<script src="./dist/js/lanai-ui.min.js"></script>
	<script th:inline="javascript">
		var fileShareUrl = [[${fileShareUrl}]];
		var needCode = [[${needCode}]];
		if (needCode){
			$("#checkFileCode").show();
		}else {
			$("#fileExplorer").show();
		}

		var userReady = [[${userReady}]];
		if (userReady){
			$("#userReady").show();
		}else {
			$("#noUser").show();
		}

		var filestate = [[${fileState}]];
		if (filestate==-1){
			$("#file404").show();
		}else {
			$.ajax({
				url: "./share/getShareFileInfo?fileUrl="+fileShareUrl,
				type: "post",
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				async: true,
				crossDomain: true,
				success: function(data) {
					console.log(data);
					if (data.code==200){
						var fileInfo = data.data;
						if (fileInfo.shareType!='folder'){
							document.getElementById("fileName").innerHTML = fileInfo.fileName;
							$("#sharefile").show();
						}
					}
				}
			});
		}

		function postFileCode() {
			$.ajax({
				url: "./share/checkFileCode",
				type: "post",
				dataType: "json",
				contentType: "application/json;charset=utf-8",
				async: true,
				crossDomain: true,
				data: JSON.stringify({
					userName: $('#shareUrl').val(),
					password: $('#fileCode').val()
				}),
				success: function(data) {
					if (data.code == 200) {
						window.location.reload();
					} else {
						alert(data.message)
					}
				}
			});
		}

		function downloadF() {
			document.getElementById("my_a").click();
		}
	</script>
</html>
