<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>隔离交换系统解密</title>
    <link rel="stylesheet" type="text/css" href="/themes/bootstrap.min.css"/>
    <link rel="stylesheet" href="/themes/webuploader.css">
    <script type="text/javascript" src="/script/jquery.min.js"></script>
    <script type="text/javascript" src="/script/webuploader.js"></script>


    <!--layer弹出框-->
    <link rel="stylesheet" href="/script/layer/mobile/need/layer.css">
    <script type="text/javascript" src="/script/layer/layer.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title></title>
    <link href="/dist/css/lanai-ui.min.css" rel="stylesheet" />

    <style type="text/css">

        .wu-example {
            width: 847px;
            position: relative;
            padding: 45px 15px 15px;
            margin: 0 auto;
            background-color: #fafafa;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
            border-color: #e5e5e5 #eee #eee;
            border-style: solid;
            border-width: 1px 0;
        }

        #picker {
            display: inline-block;
            line-height: 1.428571429;
            vertical-align: middle;
            margin: 0 12px 0 0;
        }
    </style>
</head>
<body>

<div class="alert alert-success" role="alert" style="text-align: center;font-size: 18px;">隔离交换系统可视化解密</div>

<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
    <p>
        <span>上传所用时间:</span>
        <span id="useTime">0</span>s
    </p>
</div>

<div class="nav-tabs-custom no-shadow no-margin">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1" data-toggle="tab"><i class="fa fa-leaf"></i> SpringBoot</a>
        </li>
        <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-html5"></i> Html</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <p>使用单一的一组 <code>.col-md-* </code> 栅格类，就可以创建一个基本的栅格系统，在手机和平板设备上一开始是堆叠在一起的（超小屏幕到小屏幕这一范围），在桌面（中等）屏幕设备上变为水平排列。所有“列（column）必须放在 ” <code>.row</code> 内。</p>
            <div class="col-sm-3">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">折叠面板</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                        <code>.box-warning</code>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <p>是否不希望在小屏幕设备上所有列都堆叠在一起？那就使用针对超小屏幕和中等屏幕设备所定义的类吧，即 <code>.col-xs-* </code> 和 <code>.col-md-* </code>。请看下面的实例，研究一下这些是如何工作的。</p>
            <div class="row grid-demo">
                <div class="col-xs-12 col-md-8 bg-green-active">.col-xs-12 .col-md-8 </div>
                <div class="col-xs-6 col-md-4 bg-green">.col-xs-6 .col-md-4 </div>
            </div>
            <div class="row grid-demo">
                <div class="col-xs-6 col-md-4 bg-green-active">.col-xs-6 .col-md-4 </div>
                <div class="col-xs-6 col-md-4 bg-green">.col-xs-6 .col-md-4 </div>
                <div class="col-xs-6 col-md-4 bg-green-active">.col-xs-6 .col-md-4 </div>
            </div>
            <div class="row grid-demo">
                <div class="col-xs-6 bg-green-active">.col-xs-6 </div>
                <div class="col-xs-6 bg-green">.col-xs-6 </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    var $list = $("#thelist");
    var $btn = $("#ctlBtn");
    var state = 'pending'; // 上传文件初始化
    var timer;
    var fileArray = [];

    var uploader = WebUploader.create({

        // swf文件路径
        /*  swf: BASE_URL + '/js/Uploader.swf',*/

        // 文件接收服务端。
        server: '/upload',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker',

        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false,
        duplicate: true,
        chunked: true,
        threads: 5,
        chunkSize: 10485760,
        formData: {
            guid: ""
        }
    });

    //点击上传之前调用的方法
    uploader.on("uploadStart", function (file) {
        var guid = WebUploader.Base.guid();
        var paramOb = {"guid": guid, "filedId": file.source.ruid}
        uploader.options.formData.guid = guid;
        fileArray.push(paramOb);
    });

    // 当有文件被添加进队列的时候
    uploader.on('fileQueued', function (file) {
        $list.append('<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">等待上传...</p>' +
            '</div>');
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress .progress-bar');
        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<div class="progress progress-striped active">' +
                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
        }
        $li.find('p.state').text('上传中');
        $percent.css('width', percentage * 100 + '%');
    });

    //文件成功、失败处理
    uploader.on('uploadSuccess', function (file) {
        var successFileId = file.source.ruid;
        var successDuid;
        if (fileArray.length > 0) {
            for (var i = 0; i < fileArray.length; i++) {
                if (fileArray[i].filedId === successFileId) {
                    successDuid=fileArray[i].guid;
                    fileArray.splice(i, 1);
                }
            }
        }
        clearInterval(timer);
        $('#' + file.id).find('p.state').text('已上传');
        $.get("/merge", {"guid": successDuid}, function (data, status) {
            layer.msg("合并完成");
        });

    });

    //文件上传出错
    uploader.on('uploadError', function (file) {
        $('#' + file.id).find('p.state').text('上传出错');
    });

    //文件上传完成
    uploader.on('uploadComplete', function (file) {
        $('#' + file.id).find('.progress').fadeOut();
    });

    //点击上传时间
    $btn.on('click', function () {
        if (state === 'uploading') {
            uploader.stop();
        } else {
            uploader.upload();
            timer = setInterval(function () {
                var useTime = parseInt($("#useTime").html());
                useTime = useTime + 1;
                $("#useTime").html(useTime);
            }, 1000);
        }
    });


</script>
<script src="dist/js/jquery.min.js"></script>
<script src="../../dist/js/lanai-ui.min.js"></script>
</body>
</html>